@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");



.firstpage{
  background-image: url("../../assets/background-blue.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y:100%;
  background-attachment: local;
}

.hero{
    position: relative;
    
}

/* TEXTS */

.hero-texts {
  margin: 8%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: baseline;
  max-width: 30%;
}

/* HEADER */
.hero-header {
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
  font-size: 55px;
  line-height: 72px;
  color: #fff;
  text-align: left;
  letter-spacing: -2%;
}
.hero-header-span {
  color: #1ece7a;
}

.hero-paragraph {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  color: #fff;
  line-height: 32px;
  font-size: 20px;
  text-align: left;
}

/* BUTTONS */
.hero-learn-more {
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  border: #1ece7a solid 1px;
  color: #1ece7a;
  min-width: 168px;
}
.hero-get-started {
  font-family: "Inter", sans-serif !important;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  background-color: #1ece7a;
  color: #fff;
  min-width: 168px;
}

/* IMAGES */

.large-image {
  position: absolute;
  top:40px;
  right: 100px; 
}

.small-image {
  position: absolute;
  right: 0;
  top: 470px;
  
}

.dot-image{
  position: absolute;
  left: 0;
  bottom: 0;
}

/* MEDIA FOR IPAD */

@media (max-width: 834px) {
  .firstpage{
   background-size: cover;
   background-position-y:100%;

  }
  .hero-image-group {
    display: none;
  }
  .hero-texts {
    max-width: 75%;
    align-items: center;
  }
  .hero-header {
    text-align: center;
  }
  .dot-image{
    max-width: 20% ;
    max-height: 20%;
  }
}

/* MEDIA FOR MOBIL */

@media (max-width: 375px) {
  .hero-texts {
    max-width: 90%;
    text-align: center;
    align-items: center;
  }
  .hero-paragraph{
    text-align: center;
  }
  .hero-header {
    font-size: 42px;
  }
  .dot-image{
    left:-15px
  }
}
