.services {
  margin-top: 10% !important;
}
.header-services {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.6em;
  color: #1c57c9;
  text-transform: uppercase;
  text-align: center;
}

.header-bring-more {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 58.8px;
  letter-spacing: -0.02em;
  color: #262b35;
  text-align: center;
}

.services-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #606c84;
  text-align: center;
}
.services-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.services-bottom {
  display: flex;
  justify-content: space-between;
   filter: drop-shadow(0rem 6rem 48rem 0rem rgba(0,0,0,0.1)) !important;
}

.services-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 0px 6px rgba(0, 0, 0, 0.2) !important;
 
}

.services-card-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #262b35;
  text-align: left;
}

.carousel-services {
  display: none !important;
}

@media (max-width: 834px) {
  .carousel-services {
    display:block !important;
  }
  .services-bottom-container {
    display: none;
  }
  .indicator {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #606c84 !important;
  }
  .carousel-indicators .active {
    background-color: #1c57c9 !important;
  }
  .carousel-indicators{
    bottom: -50px;
  }
  .services-card{
    box-shadow: 0px, 4px, 4px, 0px #000000 25% ;
    border:1px solid black;
    border-radius: 4px;
  }
}



@media (max-width: 375px) {
  
 .services-home-image{
   width: 85%;
 }
 .header-bring-more{
   font-size: 32px;
   max-width: 85%;
   line-height: 44.8px;
   letter-spacing: -2%;
 }
 .services-paragraph{
   max-width: 85%;
 }
 .services-top{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
 
  
}


