.services {
  margin-top: 5% !important;
}
.header-services {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.6em;
  color: #1c57c9;
  text-transform: uppercase;
  text-align: center;
}

.header-bring-more {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 58.8px;
  letter-spacing: -0.02em;
  color: #262b35;
  text-align: center;
}

.services-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #606c84;
  text-align: center;
}

.services-bottom {
  display: flex;
  justify-content: space-around;
  max-height: 120px !important;
  
}

.carousel-services {
  display: none !important;
}

.card-image{
  
}

@media (max-width: 834px) {
  .carousel-services {
    display:block !important;
  }
  .services-bottom-container {
    display: none;
  }
  .indicator {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #606c84 !important;
  }
  .carousel-indicators .active {
    background-color: #1c57c9 !important;
  }
  .carousel-indicators{
    bottom: -50px;
  }
  
}



@media (max-width: 375px) {
  
 .services-home-image{
   width: 85%;
 }
 .header-bring-more{
   font-size: 32px;
   max-width: 85%;
   line-height: 44.8px;
   letter-spacing: -2%;
 }
 .services-paragraph{
   max-width: 85%;
 }
 .services-top{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }
 .carousel-image{
   filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
 }
 
  
}


